.AppEditImage-border{
    border:4px dashed lightgrey;
    min-height:320px;
}

.AppEditImage-preview-image{
    display:inline-block;
}
.AppEditImage-dropArea{
    background-color:lightgrey;
    height:100%;
}
.AppEditImage-dropText{
    padding-top:50px;
}